USE [master]
GO
/****** Object:  Database [TrainerMatch]    Script Date: 4/30/2018 12:28:43 PM ******/
CREATE DATABASE [TrainerMatch]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainerMatch', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TrainerMatch.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainerMatch_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TrainerMatch_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainerMatch].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainerMatch]
GO
USE [TrainerMatch]
GO
/****** Object:  Table [dbo].[cardio_exercise]    Script Date: 4/30/2018 12:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cardio_exercise](
	[exercise_id] [int] NULL,
	[duration] [int] NOT NULL,
	[intensity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exercise_type]    Script Date: 4/30/2018 12:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercise_type](
	[exercise_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_exercise_type] PRIMARY KEY CLUSTERED 
(
	[exercise_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exercises]    Script Date: 4/30/2018 12:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercises](
	[exercise_id] [int] IDENTITY(1,1) NOT NULL,
	[exercise_name] [varchar](30) NOT NULL,
	[exercise_description] [varchar](60) NULL,
	[video_link] [varchar](30) NULL,
	[trainer_id] [int] NULL,
	[exercise_type_id] [int] NOT NULL,
 CONSTRAINT [pk_exercise_id] PRIMARY KEY CLUSTERED 
(
	[exercise_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageHistory]    Script Date: 4/30/2018 12:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageHistory](
	[Message_id] [int] IDENTITY(1,1) NOT NULL,
	[MessageContent] [varchar](200) NOT NULL,
	[trainer_id] [int] NOT NULL,
	[trainee_id] [int] NOT NULL,
 CONSTRAINT [pk_Message_id] PRIMARY KEY CLUSTERED 
(
	[Message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[strength_exercise]    Script Date: 4/30/2018 12:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[strength_exercise](
	[exercise_id] [int] NULL,
	[strength_reps] [int] NOT NULL,
	[strength_sets] [int] NOT NULL,
	[rest_time] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trainer]    Script Date: 4/30/2018 12:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trainer](
	[trainer_id] [int] IDENTITY(1,1) NOT NULL,
	[price_per_hour] [int] NOT NULL,
	[certifications] [varchar](60) NULL,
	[experience] [varchar](60) NULL,
	[client_success_stories] [varchar](60) NULL,
	[exercise_philosophy] [varchar](60) NULL,
	[additional_notes] [varchar](60) NULL,
	[searchable] [bit] NULL,
 CONSTRAINT [pk_trainer_id] PRIMARY KEY CLUSTERED 
(
	[trainer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_info]    Script Date: 4/30/2018 12:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_info](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](30) NOT NULL,
	[password] [varchar](30) NOT NULL,
	[salt] [varchar](30) NOT NULL,
	[trainer_id] [int] NULL,
	[first_name] [varchar](30) NOT NULL,
	[last_name] [varchar](30) NOT NULL,
	[user_location] [varchar](30) NULL,
 CONSTRAINT [pk_user_id] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[workout]    Script Date: 4/30/2018 12:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workout](
	[workout_id] [int] IDENTITY(1,1) NOT NULL,
	[workout_name] [varchar](30) NOT NULL,
	[additional_notes] [varchar](60) NULL,
	[plan_id] [int] NOT NULL,
 CONSTRAINT [pk_workout_id] PRIMARY KEY CLUSTERED 
(
	[workout_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[workout_exercise]    Script Date: 4/30/2018 12:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workout_exercise](
	[exercise_id] [int] NOT NULL,
	[workout_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[workout_log]    Script Date: 4/30/2018 12:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workout_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[trainer_id] [int] NOT NULL,
	[trainee_id] [int] NOT NULL,
	[log_day] [int] NOT NULL,
	[exercise_notes] [varchar](60) NOT NULL,
	[additional_notes] [varchar](60) NULL,
 CONSTRAINT [pk_log_id] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[workout_plan]    Script Date: 4/30/2018 12:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workout_plan](
	[plan_id] [int] IDENTITY(1,1) NOT NULL,
	[trainer_id] [int] NOT NULL,
	[trainee_id] [int] NOT NULL,
	[plan_notes] [varchar](60) NULL,
	[plan_name] [varchar](30) NULL,
 CONSTRAINT [pk_plan_id] PRIMARY KEY CLUSTERED 
(
	[plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[exercises] ADD  CONSTRAINT [DF_exercises_exercise_type_id]  DEFAULT ((1)) FOR [exercise_type_id]
GO
ALTER TABLE [dbo].[cardio_exercise]  WITH CHECK ADD  CONSTRAINT [fk_trainerID_exercises] FOREIGN KEY([exercise_id])
REFERENCES [dbo].[exercises] ([exercise_id])
GO
ALTER TABLE [dbo].[cardio_exercise] CHECK CONSTRAINT [fk_trainerID_exercises]
GO
ALTER TABLE [dbo].[exercises]  WITH CHECK ADD  CONSTRAINT [FK_exercise_exercise_type] FOREIGN KEY([exercise_type_id])
REFERENCES [dbo].[exercise_type] ([exercise_type_id])
GO
ALTER TABLE [dbo].[exercises] CHECK CONSTRAINT [FK_exercise_exercise_type]
GO
ALTER TABLE [dbo].[exercises]  WITH CHECK ADD  CONSTRAINT [FK_exercises_trainer] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[trainer] ([trainer_id])
GO
ALTER TABLE [dbo].[exercises] CHECK CONSTRAINT [FK_exercises_trainer]
GO
ALTER TABLE [dbo].[MessageHistory]  WITH CHECK ADD  CONSTRAINT [fk_trainee_id] FOREIGN KEY([trainee_id])
REFERENCES [dbo].[user_info] ([user_id])
GO
ALTER TABLE [dbo].[MessageHistory] CHECK CONSTRAINT [fk_trainee_id]
GO
ALTER TABLE [dbo].[MessageHistory]  WITH CHECK ADD  CONSTRAINT [fk_trainer_id] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[trainer] ([trainer_id])
GO
ALTER TABLE [dbo].[MessageHistory] CHECK CONSTRAINT [fk_trainer_id]
GO
ALTER TABLE [dbo].[strength_exercise]  WITH CHECK ADD  CONSTRAINT [fk_s_e_id] FOREIGN KEY([exercise_id])
REFERENCES [dbo].[exercises] ([exercise_id])
GO
ALTER TABLE [dbo].[strength_exercise] CHECK CONSTRAINT [fk_s_e_id]
GO
ALTER TABLE [dbo].[user_info]  WITH CHECK ADD  CONSTRAINT [fk_user_trainer_id] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[trainer] ([trainer_id])
GO
ALTER TABLE [dbo].[user_info] CHECK CONSTRAINT [fk_user_trainer_id]
GO
ALTER TABLE [dbo].[workout]  WITH CHECK ADD  CONSTRAINT [fk_plan_id] FOREIGN KEY([plan_id])
REFERENCES [dbo].[workout_plan] ([plan_id])
GO
ALTER TABLE [dbo].[workout] CHECK CONSTRAINT [fk_plan_id]
GO
ALTER TABLE [dbo].[workout_exercise]  WITH CHECK ADD  CONSTRAINT [fk_exercise_id_link] FOREIGN KEY([exercise_id])
REFERENCES [dbo].[exercises] ([exercise_id])
GO
ALTER TABLE [dbo].[workout_exercise] CHECK CONSTRAINT [fk_exercise_id_link]
GO
ALTER TABLE [dbo].[workout_exercise]  WITH CHECK ADD  CONSTRAINT [fk_workout_id_link] FOREIGN KEY([workout_id])
REFERENCES [dbo].[workout] ([workout_id])
GO
ALTER TABLE [dbo].[workout_exercise] CHECK CONSTRAINT [fk_workout_id_link]
GO
ALTER TABLE [dbo].[workout_log]  WITH CHECK ADD  CONSTRAINT [fk_trainee_id_log] FOREIGN KEY([trainee_id])
REFERENCES [dbo].[user_info] ([user_id])
GO
ALTER TABLE [dbo].[workout_log] CHECK CONSTRAINT [fk_trainee_id_log]
GO
ALTER TABLE [dbo].[workout_log]  WITH CHECK ADD  CONSTRAINT [fk_trainer_id_log] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[trainer] ([trainer_id])
GO
ALTER TABLE [dbo].[workout_log] CHECK CONSTRAINT [fk_trainer_id_log]
GO
ALTER TABLE [dbo].[workout_plan]  WITH CHECK ADD  CONSTRAINT [fk_trainee_plan_id] FOREIGN KEY([trainee_id])
REFERENCES [dbo].[user_info] ([user_id])
GO
ALTER TABLE [dbo].[workout_plan] CHECK CONSTRAINT [fk_trainee_plan_id]
GO
ALTER TABLE [dbo].[workout_plan]  WITH CHECK ADD  CONSTRAINT [fk_trainer_plan_id] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[trainer] ([trainer_id])
GO
ALTER TABLE [dbo].[workout_plan] CHECK CONSTRAINT [fk_trainer_plan_id]
GO
USE [master]
GO
